<!DOCTYPE html>
<html>

<head>
	<title>Log in</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<title>Registration form</title>
	<link rel="stylesheet" href="css/login.css">
</head>

<body>
	<div class="reg">
		<div class="inreg">
			<form name="x2" aria-required="true" action="/login" method="post">
			<h1 style="font-family:Amazon Ember, Arial, sans-serif;font-weight: 100;">Log in</h1><br><br>
			<h4 style="font-family:Amazon Ember, Arial, sans-serif;font-weight: 100;">User name</h4>
			<input type="text" id="uname" name="username" value="">
			<br>
			<h4 style="font-family:Amazon Ember, Arial, sans-serif;font-weight: 100;">Password</h4>
			<input type="password" id="pname" name="password" value=""><i class="far fa-eye" id="togglePassword" style="margin-left: -30px;cursor: pointer"  onclick="showpas()"></i>			
			<br><br>
			<center><button onclick="val()">Log in</button></center>
			<br>
			<h4 style="font-family:Amazon Ember, Arial, sans-serif;font-weight: 100;">If you are not registered then first sign up <a href="signup"> Sign up</a></h4>
			</form>
		</div>
	</div>
	</form>
	<script src="js/login.js"></script>
</body>

</html>